<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./layouts/header') %>
    </head>
    <body>
        <div class="px-4 py-5 my-5 text-center">
            <a class="btn btn-primary" href="/">Home</a>
            <h1 class="display-5 fw-bold">Success</h1>
        </div>
    </body>
</html>
